<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/welcome" method="get">
    <button>On welcome page</button>
</form>
<form action="/pizzaAddition/create" method="POST">
    <input type="text" name="type">
    <input type="submit" value="Create new addition">
</form>
<table>
    <tr th:each="pizzaAddition: ${pizzaAdditions}">
        <td th:text="${pizzaAddition.name}"></td>
        <td>
            <form action="/pizzaAddition/delete" method="POST">
                <input type="hidden" name="id" th:value="${pizzaAddition.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <form action="/pizzaAddition/update" method="POST">
                <input type="hidden" name="id" th:value="${pizzaAddition.id}">
                <input type="text" name="newType">
                <input type="submit" value="Update">
            </form>
        </td>
    </tr>
</table>
</body>
</html>